body{
    
    background-color: #F5F5F5;
    margin-top:0;
    font-family:arial
}

h1{
   text-align: center;
   font-size: 30px;
   background-color:#6E32A6;
   margin-top: 0px;
   border-radius: 8px;
   color: #F5F5F5;
   
   }

div{
    margin-top: 10px;
        text-align: center;
    margin-top: 25px;
    font-size: 11px;
}

.termo{
    font-size: 8px;
    text-align:center
}

button{
    color:#F5F5F5;
    background-color: #6E32A6;
    cursor:pointer;
    transition: 0,5;
    border: none;
    font-size: 22px;
   
}


